body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(25, 124, 63);
    background: linear-gradient(0deg, rgba(25, 124, 63, 1) 0%, rgba(15,134,139,1) 100%);
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    box-shadow: inset 0px -5px 8px -5px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}

header div {
    display: flex;
    align-items: center;
}

.header-icon {
    height: 100px;
    width: auto;
}

.header-icon:hover {
    cursor: pointer;
}

.header-logo {
    margin-top: -20px;
    filter: invert(1);
    height: 150px;
    width: auto;
}

.search-music-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.music-container {
    display: flex;
    gap: 6px;
    color: rgb(233, 233, 233);
    font-weight: 500;
}

.music-container img {
    height: 20px;
    cursor: pointer;
}

.center-index {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pokemon-index-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.pokemon-img {
    width: 110px;
    z-index: 1;
}

.tilt-shake {
    animation: tilt-shaking 800ms;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes tilt-shaking-card {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.pokemon-card {
    border-radius: 20px;
    width: 250px;
    height: 190px;
    position: relative;
    overflow: hidden;
    border: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card-headline-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.pokemon-card:hover {
    animation: tilt-shaking-card 500ms;
    cursor: pointer;
}

.grass {
    background-color: #46D1B1;
}

.fire {
    background-color: #FB6C6C;
}

.water {
    background-color: #77BEFE;
}

.electric {
    background-color: #FFD970;
}

.normal {
    background-color: #CFCFC3;
}

.bug {
    background-color: #B2D369;
}

.poison {
    background-color: #B486DC;
}

.psychic {
    background-color: #FF91A6;
}

.fighting {
    background-color: #CF887C;
}

.ground {
    background-color: #C09D74;
}

.fairy {
    background-color: #F1B0ED;
}

.rock {
    background-color: #CFC393;
}

.ghost {
    background-color: #997B9A;
}

.ice {
    background-color: #9DDDD2;
}

.dragon {
    background-color: #889AD1;
}

.dark {
    background-color: #837C7C;
}

.steel {
    background-color: #C3C3CF;
}

.flying {
    background-color: #B5D9FF;
}

.title-color {
    color: white;
}

.title-font {
    font-weight: 700;
    font-size: 26px;
}

.pokemon-min-info {
    display: flex;
    justify-content: space-between;
}

.pokemon-min-info-type {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pokemon-min-type {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1px 16px;
    text-align: center;
    border-radius: 16px;
    color: white;
    font-weight: 600;
}

.bg-pokeball {
    width: 160px;
    height: 160px;
    filter: opacity(0.3);
    position: absolute;
    top: 55px;
    left: 125px;
    transform: rotate(-20deg);
    z-index: 0;
}

.load-more-button-container {
    display: flex;
    justify-content: center;
}

.load-more-button {
    max-width: 1320px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin: 0 20px 20px 20px;
}

.load-more-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 1);
}

.load-more-button:active:focus, .load-more-button:active  {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 1);
}

.pokemon-info-card-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.pokemon-info-card {
    max-width: 400px;
    width: 100%;
    min-height: 500px;
    border-radius: 20px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 0;
    transition: 220ms;
    overflow: hidden;
}

.pokemon-info-card-bottom {
    height: 350px;
    border-radius: 20px;
    transition: 220ms;
}

.bg-info-card-pokeball {
    max-height: 210px;
    height: 100%;
    max-width: 210px;
    width: 100%;
    transform: rotate(-30deg);
    filter: opacity(0.4);
    position: absolute;
    left: 230px;
    top: 140px;
}

.pokemon-info-card-top {
    z-index: 1;
}

.pokemon-info-card-top h4 {
    font-size: 36px;
}

.info-img-container {
    display: flex;
    justify-content: center;
}

.pokemon-img-info-card {
    height: 220px;
    width: auto;
    margin-bottom: -40px;
    z-index: 1;
}

.pokemon-info-card-type {
    display: flex;
    gap: 8px;
}

.pokemon-img-info-card-headline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.headline-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: 16px;
}

.back-arrow {
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: transform 180ms ease-in-out;
}

.back-arrow:hover {
    transform: scale(1.15);
}

.fav-pokeball {
    width: 28px;
    height: auto;
    filter: opacity(0.85);
    cursor: pointer;
}

.fav-pokeball:hover {
    animation: tilt-shaking-fav 1s;
}

@keyframes tilt-shaking-fav {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.next-arrow {
    width: 40px;
    height: auto;
    transition: transform 150ms ease-in-out;
}

.next-arrow:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.nav-table {
    margin-top: 24px;
    z-index: 2;
}

.nav-table tr {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.nav-table td span {
    position: relative;
}

.nav-table td span:hover {
    cursor: pointer;
}

.nav-table td span:hover::after {
    transform: scaleX(1);
}

.nav-table td span::after {
    position: absolute;
    top: 26px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #46D1B1;
    transform: scaleX(0);
    transition: 220ms;
}

#pokemon-info-container {
    width: 100%;
    padding: 16px;
}

.about-table {
    width: 100%;
    font-weight: 500;
}

.about-table td:first-child {
    width: 25%;
    color: #A8ACAF;
}

.about-table td:nth-child(2) {
    font-size: 14px;
}

.breed-headline {
    margin: 8px 0;
    font-size: 18px;
    font-weight: 700;
}

.breeding-table {
    width: 100%;
    font-weight: 500;
}

.breeding-table tr {
    display: flex;
    flex-direction: row;
}

.breeding-table td:first-child {
    width: 25%;
    color: #A8ACAF;
}

.breeding-table td:nth-child(2) {
    font-size: 14px;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.breeding-table td:nth-child(3) {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.female-icon {
    width: 10px;
    height: auto;
}

.male-icon {
    width: 16px;
    height: auto;
}

.stat-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stat-type-bar {
    display: flex;
    align-items: center;
}

.stat-name-container {
    width: 50%;
    color: #A8ACAF;
    font-weight: 500;
}

.stat-count-container {
    width: 18%;
    font-weight: 500;
}

.stat-bar-container {
    width: 100%;
}

.progress-height {
    height: 6px;
}

.moves-container {
   display: flex;
   flex-wrap: wrap; 
   gap: 6px;
   overflow-y: auto;
   max-height: 260px;
}

.move-single {
    font-weight: 500;
    color: #585454;
}

.pokemon-evolution {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-evolution-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.evolution-pokemon-img {
    width: 96px;
    cursor: pointer;
}

.evolution-pokemon-img:hover {
    animation: tilt-shaking 800ms;
}

.evolution-arrow {
    width: 32px;
}

.header-logo-container {
    position: relative;
}

.caught-pokemon-container {
    background-color: rgba(255, 0, 0, 0.6);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.caught-pokemon-count {
    color: white;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 3px white;
}

.hide {
    display: none;
}

.white {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: inset 0 0 2px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #46D1B1;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3aaa90;
  }

@media(max-width: 500px) {
    .header-icon {
        display: none;
    }
}

@media(max-width: 420px) {
    .bg-info-card-pokeball {
        left: 210px;
    }
}

@media(max-width: 350px) {
    .header-logo {
        height: 120px;
    }
}